@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    color: white;
}

#backvid{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    background-color: #333333;
    box-shadow: 15px 15px 40px rgba(51, 51, 51, 0.6);
    width: 50%;
    border-radius: 20px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: 25%;
    display: flex;
}

#trackcover{
    height: 100%;
    width: auto;
    border-radius: 20px 0 0 20px;
}

.info{
    margin-left: 5%;
    min-width: 300px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.action{
    border: none;
    background-color: #333333;
    color: white;
    font-size: 30px;
    margin-right: 3%;
}

.progressbar{
    width: 90%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5%;
}

.progress{
    width: 0%;
    height: 3px;
    position: relative;
    top: 0;
    left: 0;
    background-color: coral;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
    color: #A4A4A4;
}